# Experiment 4

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')

In [5]:
df.head(100)

    sepal.length  sepal.width  petal.length  petal.width     variety
0            5.1          3.5           1.4          0.2      Setosa
1            4.9          3.0           1.4          0.2      Setosa
2            4.7          3.2           1.3          0.2      Setosa
3            4.6          3.1           1.5          0.2      Setosa
4            5.0          3.6           1.4          0.2      Setosa
..           ...          ...           ...          ...         ...
95           5.7          3.0           4.2          1.2  Versicolor
96           5.7          2.9           4.2          1.3  Versicolor
97           6.2          2.9           4.3          1.3  Versicolor
98           5.1          2.5           3.0          1.1  Versicolor
99           5.7          2.8           4.1          1.3  Versicolor

[100 rows x 5 columns]

In [6]:
df.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [7]:
df.shape

(150, 5)

In [8]:
setosa = df[df['species']=='setosa']
versicolor = df[df['species']=='versicolor']
virginica = df[df['species']=='virginica']

KeyError: 'species'

In [ ]:
plt.plot(setosa['sepal_length'],0)

In [ ]:
plt.plot(setosa['sepal_length'],np.zeros_like(setosa['sepal_length']))

In [ ]:
plt.plot(setosa['sepal_length'],np.zeros_like(setosa['sepal_length']))
plt.plot(versicolor['sepal_length'],np.zeros_like(versicolor['sepal_length']))
plt.plot(virginica['sepal_length'],np.zeros_like(virginica['sepal_length']))

In [ ]:
plt.plot(setosa['sepal_length'],np.zeros_like(setosa['sepal_length']), 'o')
plt.plot(versicolor['sepal_length'],np.zeros_like(versicolor['sepal_length']),'o')
plt.plot(virginica['sepal_length'],np.zeros_like(virginica['sepal_length']),'o')

In [ ]:
[11]: plt.plot(setosa['sepal_width'],np.zeros_like(setosa['sepal_width']), 'o')
plt.plot(versicolor['sepal_width'],np.zeros_like(versicolor['sepal_width']),'o')
plt.plot(virginica['sepal_width'],np.zeros_like(virginica['sepal_width']),'o')

In [ ]:
sns.FacetGrid(df, hue = 'species', size =5).map(plt.scatter, "sepal_length","sepal_width").add_legend()

In [ ]:
sns.FacetGrid(df, hue = 'species', size =5).map(plt.scatter, "petal_length","sepal_width").add_legend()

In [ ]:
sns.pairplot(df, hue='species', size=3)